<section class="projects flex mt-large mb-large">

  <div class="projects__container mb-large ">
    {{List.settingList(settings.contact)}}
  </div>

  <a class="projects__button button" href="#">{{listButton}}</a>

</section>