<section class="projects flex mt-large mb-large">
  <h2>{{listTitle}}</h2>
  <div class="projects__container mb-large ">
    {{projectList.highlightList(listItemsName)}}
  </div>

  <a class="projects__button button" href="{{listButtonLink}}">{{listButton}}</a>

</section>