{% extends "layouts/default.njk" %}

{% block main %}
  {% block header %}
    
  {% endblock header %}

  {% block content %}
    
  {% endblock content %}

  {% block bottom %}
    
  {% endblock bottom %}
  
{% endblock main %}