.header {
  justify-content: center;
}

.header__title {
  font-family: "DM-Sans";
  text-align: center;
  font-weight: 200;
  font-size: 5rem;
  width: 50%;
  line-height: 5rem;
}

@media (max-width: 750px) {

  .header__title {
    font-size: 3rem;
    width: 100%;
  }
}
