<section class="card-section flex mb-large">
  <h2 class="card-section__title">{{gridTitle}}</h2>
  <div class="card-section__grid grid">
    {{ cardGrid.highlightedCardGrid("blog") }}

  </div>

  <a class="card-section__button button" href="{{gridButtonLink}}">{{gridButton}}</a>

</section>