<section class="card-section flex mb-large mt-large">
  <h2 class="card-section__title">{{blogTitle}}</h2>
  <div class="card-section__grid grid">
    {{teamGrid.teamGrid(settings.team)}}

  </div>

</section>